body {
  background-image: url(https://jjrorwxhmjmplj5m.ldycdn.com/cloud/lmBpiKqmlpSRoijnnkrpiq/contact-us-now.jpg);
}
body::after {
  filter: brightness(0.8);
}
.container_outer > .container_main > .container {
  padding: 65px;
}
.container_outer > .container_main > .container .row {
  margin: 0;
}
.container_outer > .container_main > .container .row > div {
  transition: 0.6s;
}
.container_outer > .container_main > .container .t_hd {
  padding-bottom: 20px;
}
.container_outer > .container_main > .container .t_hd > .title {
  font-size: 28px;
  color: #3c78d8;
  font-weight: 700;
  padding-bottom: 10px;
  background: url(https://jjrorwxhmjmplj5m.ldycdn.com/cloud/lkBpiKqmlpSRoirnrrooiq/line.png) no-repeat left bottom;
}
.container_outer > .container_main > .container p {
  margin: 0;
  font-size: 18px;
  color: #666;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5em;
  text-align: left;
}
.container_outer > .container_main > .container p .bi {
  color: #3c78d8;
  padding-right: 2px;
  font-size: 16px;
}
.container_outer > .container_main > .container p .bi::before {
  font-weight: 400 !important;
}
.container_outer > .container_main > .container .touch .form {
  margin-top: 30px;
}
.container_outer > .container_main > .container .touch .form input,
.container_outer > .container_main > .container .touch .form textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
  vertical-align: middle;
}
.container_outer > .container_main > .container .touch .form input:focus,
.container_outer > .container_main > .container .touch .form textarea:focus {
  outline: 2px #000 solid;
}
.container_outer > .container_main > .container .touch .form .controls {
  margin-bottom: 25px;
  width: 30%;
  float: left;
  margin-left: 5%;
  position: relative;
}
.container_outer > .container_main > .container .touch .form .controls input {
  width: 100%;
  padding: 4px 0;
  text-indent: 6px;
  box-sizing: content-box;
}
.container_outer > .container_main > .container .touch .form .controls:first-child {
  margin-left: 0;
}
.container_outer > .container_main > .container .touch .form .controls::after {
  content: '';
  clear: both;
}
.container_outer > .container_main > .container .touch .form .controls .err_msg {
  position: absolute;
  height: 16px;
  left: 0;
  right: -3px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #c00;
  color: #fff;
  opacity: 0.9;
  display: none;
}
.container_outer > .container_main > .container .touch .form .textarea {
  width: 100%;
  margin-left: 0;
}
.container_outer > .container_main > .container .touch .form .textarea textarea {
  width: 100%;
  height: 80px;
  padding: 4px 0;
  text-indent: 6px;
  box-sizing: content-box;
  margin: 0;
}
.container_outer > .container_main > .container .touch .form .submit_controls {
  width: 100%;
  margin-left: 0;
}
.container_outer > .container_main > .container .touch .form .submit_controls button {
  border: 0;
  border-radius: 0;
  background: #3c78d8;
  color: #fff;
  font-size: 18px;
  width: 140px;
  height: 40px;
}
.container_outer > .container_main > .container .resize {
  height: 50px;
}
.container_outer > .container_main > .container .contact_info .c_bd p {
  padding-top: 10px;
}
.container_outer > .container_main > .container .contact_info .c_bd p strong {
  padding-right: 5px;
}
.container_outer > .container_main > .container .contact_info .c_bd p a {
  color: #666;
}
.container_outer > .container_main > .container .contact_info .c_bd p a:hover {
  color: #3c78d8;
}
.container_outer > .container_main > .container .address {
  margin-top: 90px;
}
@media screen and (max-width: 1320px) {
  .container_outer > .container_main > .container {
    padding: 65px 0;
  }
}
@media screen and (max-width: 767px) {
  .container_outer > .container_main > .container {
    padding: 65px 20px;
  }
}
@media screen and (max-width: 480px) {
  .container_outer > .container_main > .container .touch .form input:focus,
  .container_outer > .container_main > .container .touch .form textarea:focus {
    outline: 2px #ecb448 solid;
  }
  .container_outer > .container_main > .container .touch .form .controls {
    margin-bottom: 10px;
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .container_outer > .container_main > .container .touch .form .controls .err_msg {
    position: relative;
    top: 5px;
    background-color: transparent;
    color: red;
    font-size: 15px;
    text-align: left;
  }
}
