body {
  background-image: url(https://jjrorwxhmjmplj5m.ldycdn.com/cloud/lpBpiKqmlpSRoimllqmmim/product.jpg);
}
body::after {
  filter: brightness(0.8);
}
.container_outer > .container_main > .container-lg {
  padding: 10px 0 80px 0;
  overflow: hidden;
}
.container_outer > .container_main > .container-lg > .product_wrap {
  padding-top: 10px;
  margin: 0;
}
.container_outer > .container_main > .container-lg > .product_wrap > div {
  transition: 0.6s;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap {
  margin-top: 60px;
  transition: 0.6s;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap > .nav_head {
  padding-left: 10px;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap > .nav_head > h2 {
  font-size: 26px;
  color: #255999;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 2.1em;
  text-align: left;
  padding-left: 12px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap > .nav_head > h2 .bi {
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: all ease-in-out 0.4s;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap > .nav_head > h2 .rotate {
  transform: rotate(-180deg);
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap > .nav_bd {
  padding-top: 10px;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap > .nav_bd > ul > li {
  display: flex;
  border-bottom: 1px solid #e7e7e7;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap > .nav_bd > ul > li:last-child {
  border-bottom: none;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap > .nav_bd > ul > li > a {
  display: inline-block;
  width: 100%;
  padding-left: 16px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 46px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_wrap > .nav_bd > ul > li > a:hover {
  color: #3c78d8;
  background-color: #f0f0f0;
}
.container_outer > .container_main > .container-lg > .product_wrap .nav_fixed {
  position: fixed;
  top: 0px;
  margin-top: 0;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box {
  padding-top: 60px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_hd > .title {
  font-size: 28px;
  line-height: 1.5em;
  color: #255999;
  font-weight: 700;
  padding: 10px 0 10px 60px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_hd > .hd_line {
  height: 40px;
  margin: 10px 0;
  background: url(https://iirorwxhmjmplj5m.ldycdn.com/cloud/ljBpiKqmlpSRoikqrrqmip/line-TEAM.png) repeat-x right center;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd {
  background: url(https://rrrorwxhmjmplj5m.ldycdn.com/cloud/lnBpiKqmlpSRoikqnommim/detail.png) no-repeat left top;
  background-size: initial;
  margin: 0;
  padding-left: 60px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgViewer {
  padding: 0;
  max-width: 810px;
  margin: 20px auto;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgViewer .swiper-pagination {
  position: relative;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgViewer .swiper-pagination > span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 5px 3px;
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
  cursor: pointer;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgViewer .swiper-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgSwiper {
  display: inline-block;
  max-width: 100%;
  position: relative;
  padding: 4px;
  border: 1px solid #efefef;
  border-radius: 2px;
  cursor: pointer;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgSwiper .swiper-wrapper {
  max-width: 100%;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgSwiper .swiper-wrapper .swiper-slide img {
  max-width: 100%;
  display: block;
  margin: auto;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgSwiper .swiper-button-prev::after,
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgSwiper .swiper-button-next::after {
  color: #000;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgSwiper .swiper-button-prev,
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgSwiper .swiper-button-next {
  display: none;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgSwiper:hover .swiper-button-prev,
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd #imgSwiper:hover .swiper-button-next {
  display: block;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .inquire {
  margin-bottom: 10px;
  text-align: center;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .inquire h1 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
  color: #333;
  font-weight: bold;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .inquire h1 span {
  position: relative;
  display: inline-block;
  line-height: 1.5em;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .inquire h1 i {
  cursor: pointer;
  margin-left: 15px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .inquire h1 .qr_code {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 99;
  width: 200px;
  height: 215px;
  border: 1px solid #eee;
  border-radius: 2px;
  text-align: center;
  background: #fff;
  display: none;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .inquire h1 .qr_code img {
  width: 180px;
  height: 180px;
  margin-top: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .inquire h1 .qr_code p {
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .inquire .btn {
  display: block;
  margin-top: 35px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .inquire .btn a {
  border: 1px solid #255999;
  background-color: #255999;
  color: #fff;
  border-radius: 45px;
  letter-spacing: normal;
  text-align: center;
  line-height: 38px;
  height: 38px;
  padding: 10px 30px;
  font-style: 16px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pro_des {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0;
  border: 1px solid #ddd;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pro_des h3 {
  font-size: 18px;
  line-height: 1.5em;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  background: #f1f1f1;
  padding: 8px 15px;
  text-align: center;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pro_des .context {
  padding: 10px 15px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pro_des .context p {
  margin: 0;
  font-size: 16px;
  color: #545454;
  line-height: 1.5em;
  text-align: center;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pre_next {
  padding: 20px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pre_next a {
  font-size: 16px;
  color: #0089f5;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.6em;
  text-align: center;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pre_next .fl_l {
  max-width: 40%;
  line-height: 1.5em;
  background-color: #efefef;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pre_next .fl_r {
  max-width: 40%;
  line-height: 1.5em;
  background-color: #efefef;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .related {
  padding: 0 35px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .related .img_box {
  transition: 0.6s;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .related .img_box .item {
  margin: 0 10px;
  position: relative;
  text-align: center;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .related .img_box .item a {
  display: block;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .related .img_box .item .img {
  border: 1px solid #ddd;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .related .img_box .item .name {
  margin-top: 5px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form {
  margin-top: 30px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form input,
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1) inset;
  vertical-align: middle;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form input:focus,
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form textarea:focus {
  outline: 2px #000 solid;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .controls {
  margin-bottom: 18px;
  width: 50%;
  float: left;
  padding: 0 10px;
  position: relative;
  transition: 0.6s;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .controls input {
  box-sizing: content-box;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 4px 0;
  text-indent: 6px;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .controls::after {
  content: '';
  clear: both;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .controls .err_msg {
  position: absolute;
  height: 16px;
  left: 10px;
  right: 8px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #c00;
  color: #fff;
  opacity: 0.9;
  display: none;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .textarea {
  width: 100%;
  margin-left: 0;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .textarea textarea {
  width: 100%;
  height: 80px;
  padding: 4px 0;
  text-indent: 6px;
  box-sizing: content-box;
  margin: 0;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .submit_controls {
  width: 100%;
  margin-left: 0;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .submit_controls button {
  border: 0;
  border-radius: 0;
  background: #255999;
  color: #fff;
  font-size: 18px;
  width: 140px;
  height: 40px;
  transition: all 0.5s;
}
.container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .submit_controls button:hover {
  opacity: 0.8;
  background: #3c78d8;
}
@media (max-width: 992px) {
  .container_outer > .container_main > .container-lg > .product_wrap .nav_fixed {
    position: relative;
  }
  .container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd {
    padding: 0 10px 0 50px;
  }
}
@media (max-width: 480px) {
  .container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd {
    padding: 0 10px 0 50px;
  }
  .container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pre_next .fl_l,
  .container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .pre_next .fl_r {
    float: unset;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 4px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #ddd;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form input:focus,
  .container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form textarea:focus {
    outline: 2px #ecb448 solid;
  }
  .container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .controls {
    margin-bottom: 10px;
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .container_outer > .container_main > .container-lg > .product_wrap .pro_wrap .pro_box > .pro_bd .form .controls .err_msg {
    position: relative;
    top: 5px;
    background-color: transparent;
    color: red;
    font-size: 15px;
    text-align: left;
  }
}
